@model SV18T1021208.DomainModel.Shipper
@{


}
<div class="container" style="width:85% ; text-align:center">
    <div class="box box-primary">

        <!-- /.box-body -->
        <div class="box-body" style="margin:15px 50px 0 0">
            <form class="form-horizontal" action="~/shipper/save" method="post">
                @Html.HiddenFor(m => m.ShipperID)

                <div class="form-group">
                    <label class="control-label col-sm-2">Tên:</label>
                    <div class="col-sm-10">                      
                        @Html.TextBoxFor(m => m.ShipperName, new {
                            @class = "form-control",
                            @autofocus = "autofocus",
                            @placeholder = "Nhập tên người giao hàng"
                        })

                        @Html.ValidationMessageFor(m => m.ShipperName, "", new {
                           @style = "color: #f00 ; font-style : italic"
                       })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Số điện thoại</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Phone, new {
                             @class = "form-control",
                             @placeholder = "Nhập số điện thoại"
                         })

                        @Html.ValidationMessageFor(m => m.Phone, "", new {
                          @style = "color: #f00 ; font-style : italic"
                      })
                    </div>
                </div>

                <!--box-footer-->
                <div class="box-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Lưu dữ liệu
                            </button>
                            <a href="~/shipper" class="btn btn-warning">
                                <i class="fa fa-backward"></i>
                                Quay lại
                            </a>
                        </div>
                    </div>
                </div>

            </form>
        </div>

       
    </div>
    <!-- /.box -->

</div>




